.navbar {
  padding: .8rem;
  background-color: #f1f6f9;
  font-family: 'Ubuntu', sans-serif;

}
.navbar-nav li {
  padding-left: 170px;
  font-family: 'Ubuntu', sans-serif;
}


.nav-link {
  font-size: 1.7em !important;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

.nav-item{
  font-family: 'Ubuntu', sans-serif;
  color: #000;
}
.navbar-brand{
  padding: 0;
}


li{
  color: #fff;
}

h1{
  font-family: 'Lato', sans-serif;
  }
.heading-vision{
  padding-top: 80px;
  padding-bottom: 10px;
}

.heading-mission{
  padding-top: 20px;
}

#title{
  background-color: #14274e;
  padding-top: 80px;

}

hr{
  color: #68b0ab;
  width: 30%;
  padding: 30px;

}

.left{
  padding-left: 30px;
  color: #fff;
}
.matter{
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  line-height: 2;
}
.right{
  padding-left: 70px;
  color: #fff;
}
.title-image1{
  padding-top: 30px;
  padding-left: 100px;
  transform: rotate(5deg);

}
/*.title-image2{
  padding-top: 120px;
  transform: rotate(355deg);

}*/

.title-image3{
  padding-top: 250px;
  transform: rotate(345deg);
}

.feature-heading{
  text-align: center;
  font-size: 70px;
}

#features{
  position: relative;
  top: -10px;
  padding: 10px 30px 10px 30px;
}
h3{

  padding-right: 1.5rem;
  padding-left: 15px;
  padding-bottom: 50px;
}

.feature-column1{
  text-align: center;
  padding: 5% ;
}

.feature-icon{
  color: #30475e;
  padding-bottom: 10%;
}

i:hover{
  color: #68b0ab;
}

.feature-para{
  color: #8f8f8f;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.4rem;
}

#Events{
  background-color: #14274e;
  padding-top: 50px;
}

.btn a{
  color: white !important;
}

.events{
  padding-bottom: 50px;
}

.heading-events{
text-align: center;
font-family: 'Lato', sans-serif;
padding-bottom: 50px;
color: #fff;
}
.event-row{
  width: 75%;
  margin: 100px auto 100px auto;
  line-height: 2;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;

}
.image-event1{
  width: 35%;
  height: 300px;
  float: left;
  margin-right: 30px;
}
.image-event2{
  width: 35%;
  height: 300px;
  float: right;
  margin-left: 30px;
}
.image-event3{
  width: 35%;
  height: 300px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.heading-past-events{
  text-align: center;
  padding: 20px;
}


.carousel-inner img {
  margin-top: 20px;
  width: 100%;
  height: 600px;;
}


#handles{
  padding-top: 5px;
  background-color: #14274e ;
  padding-bottom: 30px;
}

.heading-connect{
  padding-bottom: 50px;
  padding-top: 30px;
  color: #fff;
}

.social a {
  font-size: 4.5em;
  padding: 3rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-google-plus-g {
  color: #dd4b39;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-google-plus-g:hover,  {
  color: #fff;
}


/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }

  }
@media (max-width: 768px) {

  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }



}
@media (max-width: 576px) {

  .social a {
    font-size: 2em;
    padding: .7rem;
  }


}


footer {
  background-color: #f1f6f9;
  color: #000;
  padding-top: 2rem;
  margin-left: 0;
  margin-right: 0;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

.left-footer{
  padding-left:150px;
}
.right-footer{
  padding-right: 150;
}
